/* index.css */
:root {
  --bg-primary: #cad2c5; /* Main background color */
  --bg-secondary: white; /* Alternative background color */
  --text-color: black; /* Text color */
}

[data-theme="dark"] {
  --bg-primary: #1b4332;
  --bg-secondary: black;
  --text-color: white;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Sections using alternative backgrounds */
.banner {
  background-color: var(--bg-primary);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
